<p id="notice"><%= notice %></p>
<div id="trendingtopic">
  <div id="readme">
    <p>
      <h1>Welcome</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium dictum dui id dictum.
        Suspendisse libero neque, lacinia sit amet odio eget, mollis pretium arcu. Aliquam nec mollis mauris,
        eget tempor lorem. Nulla a suscipit justo. Maecenas vehicula maximus nisl, placerat porttitor leo suscipit vel.
        Pellentesque molestie ornare velit, vitae ornare dui venenatis quis. In in tortor in ante congue iaculis.
        Integer sit amet mollis velit. Duis condimentum fringilla risus sit amet gravida. Donec nisl lacus,
        semper consequat tortor sed, porttitor ullamcorper mauris. Fusce luctus erat ac risus pretium euismod.
        Nullam posuere pellentesque justo a egestas. Curabitur vitae sapien sed massa mattis luctus.
        Praesent consequat velit id lorem porttitor tempor.
    </p>
  </div>
</div>
<br>
