<h1>List of photos</h1>

<%= link_to 'Add your photo', new_photo_path, class: 'btn btn-lg btn-primary' %>

<ul class="row" id="photos-list">
  <% @photos.each do |photo| %>
    <li class="col-xs-3">
      <p><%= photo.title %></p>
      <%=  image_tag photo.image.url, alt: photo.title, class: 'img-thumbnail' %>
    </li>
  <% end %>
</ul>
